# Take-home Coding Midterm

#### Honor Code
Include the following line at the top of your every source file with your name signed.
On my honor, I pledge that I have neither received nor provided improper assistance in the completion of this assignment. 

`Name Signed: _________________      Student Number: _________________`


__Due__: This part of exam should be uploaded in Piazza midterm folder __before__ in-class midterm. 

__Points__: 

1. Points for take-home coding midterm: 50 points
    - Lec01: 6 * 1 = 6
    - Lec02: 5 * 1 = 5
    - Lec03: 3 * 1 = 3
    - Lec04: 4 * 1 = 4
    - Lec05: 6 * 2 = 12
    - py4e: 20 (upload a screen capture showing your achievement.)
2. Points for in-class midterm: 50 points 
    - questions from video lectures and in-class materials: 40
    - one coding question about using list(refer to py4e.): 10

# Lec01 DataTypes

### 1. Given an integer number, print its last digit.

In [ ]:
# Read an integer:
a = int(input())
print(a)
# print the last digit of a which is an integer.
# for example, print 5 if 35, 6 if 6, 9 if 5679.

### 2. Given a three-digit number. Find the sum of its digits.

In [ ]:
# Read an integer:
a = int(input())
print(a)
# for example, print 6 if a is 123, 18 if a is 369. 
# assume that a is a three digit number.

### 3. Clock displays military time

The integer N given is the number of minutes that is passed since midnight. Display the hour and minute in military time. The program should print two numbers: the number of hours (between 0 and 23) and the number of minutes (between 0 and 59). For example, if N = 150, then 150 minutes have passed since midnight - i.e. now is 2:30 am. So the program should print 2:30.

In [ ]:
# Read an integer:
a = int(input())
print(a)
# print 3:0 for 180, 7:24 for 444, 18:31 for 1111, 23:59 for 1439

### 4. Separate integer part and decimal part

Given a positive real number with a decmal point, print its integer part and decimal part. Use some arithmatic operators, not str().

For example:
```
123.456
123
456
```
```
0.1234
0
1234
```

In [ ]:
# Read a real number:
x = input()

### 5. Separate integer part and decimal part

Given a positive real number with a decmal point, print its integer part and decimal part. Use str() and slicing, but not arithmatic operators.

For example:
```
123.456
123
456
```
```
0.1234
0
1234
```

### 6. Equal numbers

Given three integers, determine how many of them are equal to each other. The program must print one of these numbers: 3 (if all are the same), 2 (if two of them are equal to each other and the third is different) or 0 (if all numbers are different).

In [ ]:
# Read an integer:
x = int(input("x:"))
y = int(input("y:"))
z = int(input("z:"))

# Lec02 Strings 

### 1. To swap the two words

Given a string consisting of exactly two words separated by a space. Print a new string with the first and second word positions swapped (the second word is printed first).
This task should not use `loop`s and `if`. You may use `find()` and slicing.

For example:
```
Hello, World!       World! Hello,
H D                 D H
Sola Gratia!        Gratia! Sola
race car            car race
```

In [ ]:
s = input()

### 2. The first and last occurrence

Given a string that may or may not contain a letter of interest. Print the index location of the first and last appearance of `f`. If the letter `f` occurs only once, then output its index. If the letter f does not occur, then do not print anything.

Don't use loops in this task.  You may use `find()` and `rfind()`.

For example:
- comfort 3
- office  1 2
- hello   
- fide  0 
- affffa  1 5
- ffff  0 3

In [ ]:
s = input()

### 3. Replace the substring

Given a string. Replace in this string all the numbers 1 by the word one.

For example:
```
1 + 1 = 2   -->   one + one = two
11111 --> oneoneoneoneone
Jesus Alone --> Jesus Alone
```

In [ ]:
# your code here

### 4. Delete a character
Given a string, remove all occurrences of the dot(.) character.
For example:
```
Mr. Kim  --> Mr Kim
My love...  --> My love
....   -->
This .. is removed. --> This is removed
```

In [ ]:
# your code here

### 5. Remove between

Given a string in which the letter `g` occurs at least twice. Remove from that string the first and the last occurrence of the letter `g`, as well as all the characters between them.

For example,

```
In all things God works for the good of those who love him.
-> In all thinood of those who love him.

The good man brings good things out of the good stored up in his heart.
-> The good stored up in this heart

my garbage in garbage out -> my e out

google -> le

garage -> e

gag ->
```

In [ ]:
s = input()

In [ ]:
s = input()

# Lec03 ForWithRange 

### 1. Count to N

Given an integer N, print all the numbers from 1 to N twice as shown below.
```
N = 5
1
2
3
4
5
1 2 3 4 5
```

In [ ]:
N = int(input())
print('N =', N)

### 2. Given an integer N, print all the odd numbers from 1 to N.

Given an integer N, print all the odd numbers from 1 to N in ascending order.

1 2 3 4 5

In [ ]:
# your code here
N = int(input())
print('N =', N)

### 3. Ladder 

For given integer n â‰¤ 9 print a ladder of n steps. The k-th step consists of the integers from 1 to k without spaces between them.
To do that, you can use the sep and end arguments for the function print().

```
n = 5	
1
12
123
1234
12345

n = 3
1
12
123
```

In [ ]:
# your code here
n = int(input())
print('n =', n)

# Lec04 Lists

### 1. Swap neighbours

Given a list of numbers, swap adjacent items in pairs (`a[0]` with `a[1]`, `a[2]` with `a[3]`, etc.). Print the resulting list. If a list has an odd number of elements, leave the last element in place.

For example:
```
a = [1, 2, 3]
2 1 3
```
```
a = [0, 9, 4, 5, 2, 3]
9 0 5 4 3 2
```
__Hint__: Believe it or not, mutiple assignment is possible. In the following code, two values of `x` and `y` are swapped.
```
x, y = 1, 2      # x = 1, y = 2
x, y = y, x      # x = 2, y = 1
```

In [ ]:
a = [0, 9, 4, 5, 2, 3]
for i in None:
    None

In [ ]:
a = []
for i in range(int(input())):
    a.append(int(input()))

### 2. The largest element and its index

Get a list of integers from user, print the value of the largest element and then the index number. If the highest element is not unique, print the index of the first instance.

__Hint__: You can solve this problem without using a loop if you use a method available for the list object as well as built-in functions in Python.

In [ ]:
a = []
for i in range(int(input())):
    a.append(int(input()))

In [ ]:
a = [6, 9, 6, 23, 12, 19, 14, 26]
print(None, None)

### 3. Unique elements

Given a list of integers, create a new list with the elements that appear in the original list only once. The elements must be listed in the order in which they occur in the original list. Don't use set. 
For example:
```
a = [4, 3, 5, 2, 5, 1, 3, 5]
4 2 1
```
```
a = [6, 9, 6, 23, 12, 19, 14, 26]
9 23 12 19 14 26
```
Hint: Use a method available for a list object. Remember that `obejct`.<tab> displays a list of methods for the `object`.

In [ ]:
a = [4, 3, 5, 2, 5, 1, 3, 5]
a = [6, 9, 6, 23, 12, 19, 14, 26]
b = []
for e in a:
    None;
print(b)

## 4. Grades
Given a list of grades, count how many are above the average.
1. Get average
2. Find how many grades are above avg using for lopp, not using list comprehension

In [ ]:
grades = [88,67,45,67,76,78,53,87,12,100,77,89,92,53,95,99,76,87,56,45,98,87,89]

avg = 0         # your code here
above = 0

# your code here
        
print(above, "grades are above the average", avg)

# Lec05 ControlFlow

### 1. The count and sum of the sequence
Count the number of input elements and determine the sum of all elements in the sequence. The user's input sequence ends with the number 0. Get the input data using input() and print the result using print().
Some sample runs:
```
1
7
9
0
3 17
```
```
1
1
1
1
1
0
5 5
```
```
123
0
1 123
```

### 2. The second largest
The sequence consists of _distinct positive integer numbers_ and ends with the number 0. Determine the value of the second largest element in this sequence. It is guaranteed that the sequence has at least two elements. Get the input data using input() and print the result using print(). 

Some sample runs:
```
1
7
9
5
0
7
```
```
7
1
8
3
0
7
```
```
9
1
2
3
7
5
0
7
```

### 3. The second largest in a list
The list consists of _distinct positive integer numbers_. Find the value of the second largest element in the list. It is guaranteed that the sequence has at least two elements. 

Some sample runs:
```
a = [1, 2, 3, 4]
# your code here
2
```
```
a = [4, 5, 3, 1, 2]
# your code here
4
```
```
a = [10, 5, 7, 1, 9]
# your code here
9
```
```
a = [2, 5, 7, 8, 9]
# your code here
7
```

### 4. The maximum number of consecutive equal elements

Given a sequence of integer numbers ending with the number 0. Determine the length of the widest fragment where all the elements are equal to each other. Get the input data using input() and print the result using print().

__Some sample runs:__
```
1
7
7
9
1
0
2
```
```
1
2
3
10
11
0
1
```
```
3
3
3
3
0
4
```
```
1
1
2
2
2
3
3
0
3
```

### 5. The maximum number of consecutive equal elements in a list

Given a sequence of integer numbers in a list, determine the length of the widest fragment where all the elements are equal to each other. 

__Some sample runs:__
```
a = [1, 7, 7, 9, 1]
# your code here
2
```
```
a = [1, 2, 3, 10, 11]
# your code here
1
```
```
a = [3, 3, 3, 3]
# your code here
4
```
```
a = [1, 1, 2, 2, 2, 3, 3]
# your code here
2
```

### 6. Black Jack (version 3)

Enhance the black jack game such that an ace card (or 1) can be considered either 1 or 10 for the player. For example, if a player gets 5, 1, and 6, his score becomes 21. If a player gets 10, 7, and 1, his score becomes 18.